{% extends 'VivaBravoBundle:Default:base.html.twig' %}

{% block navbar %}{% endblock navbar %}
{% block sectionlinks %}{% endblock %}
{% block head_bottom %}{% endblock %}
{% block foot_script %}{% endblock %}
{% block sectiontitle %}Bravo Authentication{% endblock %}
{% block body_tag %}<body class="nobackground"></body>{% endblock %}
{% block content_row %}

	{% if error %}
		<div class="alert alert-danger alert-block">
			<h4>Login Failed!</h4>
			{{ error.message }}
		</div>
	{% endif %}
	<div class="col-md-4 col-md-offset-4" style="background-color: rgba(255,255,255,0.2); padding-bottom:20px; border-radius:5px;">
		<form class="form-signin" action="{{ path('viva_auth_authenticate') }}" method="post" role="form">
			<h3 class="form-signin-heading" style="color:#fff">Please sign in</h3>

			<div class="form-group">
				<label class="sr-only" for="username">Username or Email address</label>
				<input type="text" id="username" name="_username" class="form-control" placeholder="Username or Email address"
							 value="{{ last_username }}">
			</div>
			<div class="form-group">
				<label class="sr-only" for="password">Password</label>
				<input type="password" id="password" name="_password" class="form-control" placeholder="Password">
			</div>
			<button class="btn btn-lg btn-primary" style="text-align:right" type="submit">Sign in</button>
			<input type="hidden" name="_target_path" value=""/>
		</form>
	</div>
{% endblock %}
